:root {
    --primary-color: #FFFFFF;
    --secondary-color: #f9f7fd;
    --branding-color: #F3DFB4;
}

.bg-img {
    background: url("../src/images/ibiza.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -125px;
}
.logo {
    max-width: 350px;
    margin: -60px;
    padding: 10px;
    color:black;
}
.logos {
    text-align: center;
    padding: 80px 10px;
}

footer {
  margin: 60px 0;
}

.hero {
    text-align: center;
    font-family:Lora,Georgia,"Times New Roman",serif;
    color: #FFFFFF; 
}


.bg-img {
    background: url("../src/images/ibiza.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -30px;
}


footer {
    margin: 60px 0;
}

.hero {
    text-align: center;
    color: #FFFFFF;
    padding: 100px 200px;
    font-family: 'Noto Serif HK', serif;

}


.btn-branding {
    background: transparent;
    box-shadow: var(--box-shadow);
    border-radius: 1px;
    padding: 12px 20px;
    border-color: var(--primary-color);
    color: white;
}

.btn-branding:hover {
    background: white;
    box-shadow: none;
    border-radius: none;
    transition: 0.7s;
    border-color: var(--primary-color);

}

.btn-branding-outline {
    color: var(--primary-color);
    border: 0px solid var(--primary-color);
    border-radius: 1px;
    font-size: 20px;
    line-height: 27px;
    padding: 15px 30px;
    
}

.btn-branding-outline:hover {
    background-color: white;
    opacity: 60%;
    box-shadow: none;
    border-radius: none;
    border-color: var(--primary-color);
    transition: all 0.3s ease 0.3s;
   
}

.container {
    color: #34235e;
    font-family: Lora,
        Georgia,
        "Times New Roman",
        serif;       
}


.nunito {
    font-family:'nunito';
    width: 350px;
      
}


